<form>

  <form [formGroup]="form" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="nomeitemInput">Nome Item</label>
      <input formControlName="nomeitem" ngModel maxlength="50>
      type="text class="form-control" id="nomeItem" placeholder="Nome do Item">
    </div>


  <!-- <div class="form-group">
    <label for="confpasswordInput">Confirm Password</label>
    <input formControlName="cnfpass" type="password" class="form-control" id="confpasswordInput" placeholder="Re-enter Password">
</div> -->

<!-- <div class="form-group">
  <label for="zipcodeinput">Zip Code</label>
  <input  formControlName="zip" type="text" class="form-control" id="zipcodeinput" placeholder="Enter Zip Code">
</div> -->

<button type="submit"
class="btn btn-primary"
[disabled]="!form.valid">Salvar</button>




 <div class ="validation">





 </div>







</form>
